<html>
<head>
  <meta charset="utf-8">
  <title>{{#if title}}{{#if entityLabel}}{{entityLabel}} - {{/if}}{{title}}{{else}}Trifid{{/if}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" href="/static-assets/img/favicon.ico" />
  <link rel="stylesheet" href="/static-assets/css/main.css">
  <link rel="stylesheet" href="/static-assets/css/style.css">
</head>
<body>

  {{#unless disableHeader}}
    {{{header}}}
  {{/unless}}

  <main id="main-content" class="trifid-main">
    <section class="hero hero--default ">
      {{{ body }}}
    </section>
  </main>

  {{#unless disableFooter}}
    {{{footer}}}
  {{/unless}}

  <script src="/static-assets/js/script.js"></script>
</body>
</html>
