<div class="vertical-spacing">
  <div class="container container--grid gap--responsive">
    <div class="hero__content">
      <div class="trifid-content container--grid gap--responsive">
        <div class="container__full vertical-spacing">
          {{{ locals.content-plugin.lindas.ecosystem }}}
        </div>
      </div>
    </div>
  </div>

  <section class="section bg--secondary-100">
    <div class="container">
      <div class="grid grid--responsive-cols-3 gap--responsive">

        <div class="card card--highlight card--clickable">
          <div class="card__content">
            <div class="card__body">
              <div class="card__title">
                <h3>{{i18n "About LINDAS short"}}</h3>
              </div>
              <p class="card__newline">{{i18n "About LINDAS long"}}</p>
            </div>
            <div class="card__footer card__footer--icon-only">
              <div class="card__footer__action">
                <a href="/ecosystem/about-LINDAS/" aria-label="{{ i18n "Read more" }}" title="{{ i18n "Read more" }}" class="btn btn--outline btn--icon-only">
                  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="btn__icon icon icon--base icon--ArrowRight">
                    <path xmlns="http://www.w3.org/2000/svg" d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"></path>
                  </svg>
                  <span class="btn__text">{{ i18n "Read more" }}</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="card card--highlight card--clickable">
          <div class="card__content">
            <div class="card__body">
              <div class="card__title">
                <h3>{{i18n "LINDAS Ecosystem short"}}</h3>
              </div>
              <p class="card__newline">{{i18n "LINDAS Ecosystem long"}}</p>
            </div>
            <div class="card__footer card__footer--icon-only">
              <div class="card__footer__action">
                <a href="/ecosystem/LINDAS-ecosystem/" aria-label="{{ i18n "Read more" }}" title="{{ i18n "Read more" }}" class="btn btn--outline btn--icon-only">
                  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="btn__icon icon icon--base icon--ArrowRight">
                    <path xmlns="http://www.w3.org/2000/svg" d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"></path>
                  </svg>
                  <span class="btn__text">{{ i18n "Read more" }}</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="card card--highlight card--clickable">
          <div class="card__content">
            <div class="card__body">
              <div class="card__title">
                <h3>{{i18n "Publish Data short"}}</h3>
              </div>
              <p class="card__newline">{{i18n "Publish Data long"}}</p>
            </div>
            <div class="card__footer card__footer--icon-only">
              <div class="card__footer__action">
                <a href="/ecosystem/publish-data/" aria-label="{{ i18n "Read more" }}" title="{{ i18n "Read more" }}" class="btn btn--outline btn--icon-only">
                  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="btn__icon icon icon--base icon--ArrowRight">
                    <path xmlns="http://www.w3.org/2000/svg" d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"></path>
                  </svg>
                  <span class="btn__text">{{ i18n "Read more" }}</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="card card--highlight card--clickable">
          <div class="card__content">
            <div class="card__body">
              <div class="card__title">
                <h3>{{i18n "Applications short"}}</h3>
              </div>
              <p class="card__newline">{{i18n "Applications long"}}</p>
            </div>
            <div class="card__footer card__footer--icon-only">
              <div class="card__footer__action">
                <a href="/ecosystem/applications/" aria-label="{{ i18n "Read more" }}" title="{{ i18n "Read more" }}" class="btn btn--outline btn--icon-only">
                  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="btn__icon icon icon--base icon--ArrowRight">
                    <path xmlns="http://www.w3.org/2000/svg" d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"></path>
                  </svg>
                  <span class="btn__text">{{ i18n "Read more" }}</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        
      </div>
    </div>
  </section>
</div>

