<p class="meta-info">
	<span class="meta-info__item"><a href="{{entityUrl}}">{{entityUrl}}</a></span>
</p>
<h1 class="hero__title">
  {{entityLabel}}
</h1>

<div class="trifid-content container--grid gap--responsive">
  <div class="container__full">
    <style type="text/css">
      @import url("/static-assets/css/entity.css");
    </style>

    <div class="entity-body">
      {{{dataset}}}
    </div>
  </div>
</div>

    {{#if metadata.namedGraphs}}
      <div class="metadata">
        <div class="metadata-title">Named graphs</div>
        <div class="metadata-table">
          {{#each metadata.namedGraphs}}
            <div class="metadata-row">
              {{#if this.namedGraph}}
                <div><a href="{{this.namedGraph}}">{{this.namedGraphLabel}}</a></div>
              {{/if}}
              {{#unless this.namedGraph}}
                <div>{{this.namedGraphLabel}}</div>
              {{/unless}}
              <div>{{this.quadsCount}}</div>
            </div>
          {{/each}}
        </div>
      </div>
    {{/if}}
