<div class="vertical-spacing">
  <div class="container container--grid gap--responsive">
    <div class="hero__content">
      <div class="trifid-content container--grid gap--responsive">
        <div class="container__full vertical-spacing">
          {{{ session.markdown-content-plugin.lindas.know-how }}}
        </div>
      </div>
    </div>
  </div>

  <section class="section bg--secondary-100 remove-space-after-submenu-section">
    <div class="container">
      <div class="grid grid--responsive-cols-3 gap--responsive">

        <div class="card card--highlight card--clickable">
          <div class="card__content">
            <div class="card__body">
              <div class="card__title">
                <h3>{{i18n "About Linked Data short"}}</h3>
              </div>
              <p class="card__newline">{{i18n "About Linked Data long"}}</p>
            </div>
            <div class="card__footer card__footer--icon-only">
              <div class="card__footer__action">
                <a href="/know-how/about-linked-data/" aria-label="{{ i18n "Read more" }}" title="{{ i18n "Read more" }}" class="btn btn--outline btn--icon-only">
                  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="btn__icon icon icon--base icon--ArrowRight">
                    <path xmlns="http://www.w3.org/2000/svg" d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"></path>
                  </svg>
                  <span class="btn__text">{{ i18n "Read more" }}</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="card card--highlight card--clickable"> 
          <div class="card__content">
            <div class="card__body">
              <div class="card__title">
                <h3>{{i18n "dereferencing short"}}</h3>
              </div>
              <p class="card__newline">{{i18n "dereferencing long"}}</p>
            </div>
            <div class="card__footer card__footer--icon-only">
              <div class="card__footer__action">
                <a href="/know-how/dereferencing/" aria-label="{{ i18n "Read more" }}" title="{{ i18n "Read more" }}" class="btn btn--outline btn--icon-only">
                  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="btn__icon icon icon--base icon--ArrowRight">
                    <path xmlns="http://www.w3.org/2000/svg" d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"></path>
                  </svg>
                  <span class="btn__text">{{ i18n "Read more" }}</span>
                </a>
              </div>
            </div>
          </div>
        </div>



        
        <div class="card card--highlight card--clickable">
          <div class="card__content">
            <div class="card__body">
              <div class="card__title">
                <h3>{{i18n "Tutorials short"}}</h3>
              </div>
              <p class="card__newline">{{i18n "Tutorials long"}}</p>
            </div>
            <div class="card__footer card__footer--icon-only">
              <div class="card__footer__action">
                <a href="/know-how/tutorials/" aria-label="{{ i18n "Read more" }}" title="{{ i18n "Read more" }}" class="btn btn--outline btn--icon-only">
                  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="btn__icon icon icon--base icon--ArrowRight">
                    <path xmlns="http://www.w3.org/2000/svg" d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"></path>
                  </svg>
                  <span class="btn__text">{{ i18n "Read more" }}</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="card card--highlight card--clickable">
          <div class="card__content">
            <div class="card__body">
              <div class="card__title">
                <h3>{{i18n "Data Models short"}}</h3>
              </div>
              <p class="card__newline">{{i18n "Data Models long"}}</p>
            </div>
            <div class="card__footer card__footer--icon-only">
              <div class="card__footer__action">
                <a href="/know-how/data-models/" aria-label="{{ i18n "Read more" }}" title="{{ i18n "Read more" }}" class="btn btn--outline btn--icon-only">
                  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="btn__icon icon icon--base icon--ArrowRight">
                    <path xmlns="http://www.w3.org/2000/svg" d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"></path>
                  </svg>
                  <span class="btn__text">{{ i18n "Read more" }}</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="card card--highlight card--clickable">
          <div class="card__content">
            <div class="card__body">
              <div class="card__title">
                <h3>{{i18n "FA Queries short"}}</h3>
              </div>
              <p class="card__newline">{{i18n "FA Queries long"}}</p>
            </div>
            <div class="card__footer card__footer--icon-only">
              <div class="card__footer__action">
                <a href="/know-how/fa-queries/" aria-label="{{ i18n "Read more" }}" title="{{ i18n "Read more" }}" class="btn btn--outline btn--icon-only">
                  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="btn__icon icon icon--base icon--ArrowRight">
                    <path xmlns="http://www.w3.org/2000/svg" d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"></path>
                  </svg>
                  <span class="btn__text">{{ i18n "Read more" }}</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="card card--highlight card--clickable">
          <div class="card__content">
            <div class="card__body">
              <div class="card__title">
                <h3>{{i18n "Resources short"}}</h3>
              </div>
              <p class="card__newline">{{i18n "Resources long"}}</p>
            </div>
            <div class="card__footer card__footer--icon-only">
              <div class="card__footer__action">
                <a href="/know-how/resources/" aria-label="{{ i18n "Read more" }}" title="{{ i18n "Read more" }}" class="btn btn--outline btn--icon-only">
                  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="btn__icon icon icon--base icon--ArrowRight">
                    <path xmlns="http://www.w3.org/2000/svg" d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"></path>
                  </svg>
                  <span class="btn__text">{{ i18n "Read more" }}</span>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>

